@import 'setup';

// COLOR PALETTE VARIABLES
$bgColor: #ffffff;
$fontColor: #2F576B;
$accentColor: #34A8C4;
$font: 'Montserrat', sans-serif;

body {
	font-family: $font;
	font-size: 62.5%;
}

// HEADER STYLES

header {
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1462849251721-16fc0fa4609c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6eb5851e7126d8e8f222bd2a27dc59fe');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-end;
}

aside {
	width: 50%;
	background-color: rgba(52,168,196,0.5);
	display: flex;
	color: white;

	.wrapper {
		margin: auto;
		text-align: center;
		width: 80%;
	}
}

.search {
	display: block;
	margin: 0 auto;
}

h1 {
	font-size: 4rem;
	letter-spacing: 1px;
}

h2 {
	font-size: 1rem;
	padding: 5% 0;
}

input[type=text] {
	margin: 5%;
	width: 60%;
	padding: 10px;
	font-size: 1.5rem;
	border: 2px solid $accentColor;
	font-size: 1rem;
	background-color: rgba(0,0,0,0);
	border: 2px solid white;
	text-align: center;
	color: white;
	line-height: 1.5;
	text-transform: capitalize;
		&::-webkit-input-placeholder {
			color: white;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: white;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color: white;
		}

		&:-ms-input-placeholder {
			color: white;
		}
}

.search {
    width: 25%;
    padding: 5px;
    background-color: white;
    color: $fontColor;
    border: 2px solid white;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    transition: all 0.3s;

    &:hover {
        background-color: rgba(0,0,0,0);
        color: white;
    }
}

// CERAMIC GALLERY STYLES

.cards {
    width: 80%;
    display:flex;
    flex-wrap:wrap;
    margin: auto;

    .card {
        width:calc(33.33% - 4%);
        margin: 2%;
        text-align: center;

        figure {
            background-size: cover;
            background-position: center ;
            background-repeat: no-repeat;
            max-height: 300px;
        }
    }
}

article {
	position: relative;
	overflow: hidden;

	&:hover figcaption {
		bottom: 0;
		visibility: visible;
		opacity: 1;
	}
}

figcaption {
	position: absolute;
	bottom: -200px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(52,168,196,0.7);
	display: flex;
	padding: 20px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;
}

a {
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin: auto;
}

.cards figure {
    height: 200px;
}
