@import 'setup';

// COLOR PALETTE VARIABLES
$bgColor: #ffffff;
$fontColor: #2F576B;
$accentColor: #34A8C4;
$font: 'Montserrat', sans-serif;
$fontSecond: 'Raleway', sans-serif;

body {
	font-family: $font;
	font-size: 62.5%;
}

// HEADER STYLES

header {
	height: 100vh;
	background-image: url('../images/header-image.jpg');
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

aside {
	width: 50%;
	background-color: rgba(52,168,196,0.5);
	display: flex;
	color: white;

	.wrapper {
		margin: auto;
		text-align: center;
		width: 80%;

		img {
			width: 20%;
		}

	}
}

.site_creators {
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-shadow: 1px 1px 2px grey;

	p a {
		color: white;
		transition: all 0.3s;

		&:hover {
		    color: $accentColor;
		}
	}
}

.search {
	display: block;
	margin: 0 auto;
}

h1 {
	font-size: 4rem;
	letter-spacing: 1px;
}

h2 {
	font-size: 1rem;
	padding: 5% 0;
	font-family: $fontSecond;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px grey;
}

input[type=text] {
	margin: 5%;
	min-width: 200px;
	width: 60%;
	padding: 10px;
	font-size: 1.5rem;
	border: 2px solid $accentColor;
	font-size: 1rem;
	background-color: rgba(0,0,0,0);
	border: 2px solid white;
	border-radius: 2px;
	text-align: center;
	color: white;
	line-height: 1.5;
	text-transform: capitalize;
	font-family: $fontSecond;
	font-weight: bold;
	letter-spacing: 1px;
		&::-webkit-input-placeholder {
			color: white;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: white;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color: white;
		}

		&:-ms-input-placeholder {
			color: white;
		}
}

// For Easter Egg :)
.swayze-header {
	height: 100vh;
	background-image: url(../images/much-ceramic-wow.jpg);
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.swayze_site_creators p,
.swayze_site_creators a {
	background: white;
}

.sloth-gallery {
	display: flex;
	flex-wrap: wrap;

	figure {
		width: calc(33.33% - 4%);
		margin: 2%;

		img {
			width: 100%;
		}
	}

}
// CERAMIC GALLERY STYLES

.search,
.viewItem,
.more_cards {
    width: 25%;
    min-width: 100px;
    padding: 5px;
    background-color: white;
    color: $fontColor;
    border: none;
    border-radius: 2px;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    transition: all 0.3s;

    &:hover,
    &:focus {
        background-color: $fontColor;
        color: white;
    }
}

.cards {
    width: 80%;
    display:flex;
    flex-wrap:wrap;
    margin: auto;

    .card {
        width:calc(33.33% - 4%);
        margin: 2%;
        text-align: center;

        figure {
            background-size: cover;
            background-position: center ;
            background-repeat: no-repeat;
            max-height: 300px;
        }
    }
}

.card {
	position: relative;
	overflow: hidden;

	&:hover figcaption,
	&:focus figcaption {
		bottom: 0;
		visibility: visible;
		opacity: 1;
	}
}

figcaption {
	position: absolute;
	bottom: -200px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(52,168,196,0.7);
	display: flex;
	padding: 20px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;

	.wrapper {
		margin: auto;
	}
}

a {
	text-decoration: none;
	margin: auto;
}

h3 {
	font-size: 1rem;
	font-weight: 700;
	color: white;
	padding-bottom: 5%;
	text-transform: capitalize;

	a {
		color: white;
		transition: all 0.3s ease;
		&:hover,
		&:focus {
			color: $fontColor;
		}
	}
}

p {
    font-size: 0.8rem;
    color: white;
    font-family: $fontSecond;
}

.viewItem {
	width: 100px;
	font-size: 0.8rem;
	margin-top: 15px;
}

.cards figure {
    height: 200px;
}

// Loading animation when user scrolls to bottom of page

.loading-swayze {
  padding: 0;
  text-align: center;
  top: 95%;
  width: calc(100% - 2%);
  margin: 1%;
}

.dots {
  animation: bounce 1.5s infinite linear;
  background: $accentColor;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin: 4px;
  text-align: center;
  width: 20px;
}

.dots:nth-child(1){
  animation-delay: .2s;
}
.dots:nth-child(2){
  animation-delay: .4s;
}
.dots:nth-child(3){
  animation-delay: .6s;
}
.dots:nth-child(4){
  animation-delay: .8s;
}
.dots:nth-child(5){
  animation-delay: 1s;
}
@keyframes bounce {
    0% {
		transform: translateY(0);
    }
  	15% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
}

.loading-swayze {
	display: none;
}

.showMe {
	margin-top: 10px;
	display: block;
}

//MEDIA QUERIES
@media (max-width: 900px) {
	aside {
		width: 70%;
	}

	.site_creators {
		width: 100%;
		left: 0;
		margin: 0 auto;
		text-align: center;

		p,a {
			width: 70%;
			margin: auto;
			line-height: 1.5;
		}

		p a:hover {
			color: $fontColor;
		}
	}

	figcaption {
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 110px; 
		background-color: rgba(52,168,196,1);
		visibility: visible;
		opacity: 1;

		p {
			display: none;
		}
	}

	.viewItem {
		margin-top: 0;
	}

	h3 {
		font-size: 0.9rem;
	}

	.viewItem {
		font-size: 0.8rem;
	}
}

@media (max-width: 760px) {
	.cards .card {
		width: calc(50% - 4%);
	}
}

@media (max-width: 550px) {
	aside {
		width: 100%;
	}

	.cards .card {
		width: 100%;
	}

	figcaption {
		max-height: 80px;
		padding: 10px;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 3rem;
	}
}
